<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<title>YourStory</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="../../assets/javascript/global.js"></script>
	<link rel="stylesheet" href="../../assets/css/style.css">
    <div id="character button">

    </div>

    
    <form id="character-form">
      <label for="character-input">Add a character</label>
      <input type="text" id="animal-input"><br>
     
      <input id="add character" type="submit" value="Submit">
    </form>


    <div id="characters">

    </div>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
